@import 'href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"';

html{
    scroll-behavior: smooth;
}

:root{
    --bg-header: #3d5a80;
    --bg-nav: #b1c7d4;
    --bg-section: #eef8f8;
    --border: #293241;
}

body{
    font-family: 'Source Sans Pro', sans-serif !important;
}

h2, h3, h4, h5, h5{
    color: var(--bg-header);
}

.header{
    background: var(--bg-header);
    padding: 2rem;
    color: #fff;
    border-bottom: 3px solid var(--border);
}

.title-header{
    padding: .5rem 0 0 .5rem;
    border-bottom: 3px solid var(--border);
}

.title-nav{
    position: relative;
    top: 10px;
}

.nav-column{
    padding: .5rem;
    background: var(--bg-nav);
    z-index: 2;
    height: auto; 
}

.navbar-collapse{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    height: 400px; 
}

.nav-link{
    margin-top: .5rem !important;
    border-bottom: 1px solid var(--border);
    color: #fff !important;
    font-weight: 600;
}

.active, .nav-link:hover {
    background-color: var(--bg-header);
    color: fff;
}

.section-column{
    background: var(--bg-section);
    position: relative;
}

article{
    padding: 1rem;
}

code kbd{
    display: block;
    text-align: left;
    white-space: pre-line;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
}


@media only screen and (min-width: 768px) {
    
    .nav-column{
        padding-top: 3%;
        background: var(--bg-nav);
        border-right: 1px solid var(--border);
        z-index: 2;
        height: 800px;
        overflow-y: auto;
        overflow-x: hidden; 
    }

    .navbar-collapse{
        overflow-y: auto !important;
        overflow-x: hidden !important;
        height: auto; 
    }

    .title-nav{
        position: absolute;
        top: 10px;
    }

}